@charset "UTF-8"; 

.code {
    font-style: italic;
}

html {
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

canvas {
    width: 100%;
    height: 100%;
}