body {
    font-family: sans-serif;
    margin: 0;
    padding: 1em;
    word-break: break-word;
}

button {
    background-color: #d84a38;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-size: 0.8em;
    margin: 0 0 1em 0;
    padding: 0.5em 0.7em 0.6em 0.7em;
}

button:active {
    background-color: #cf402f;
}

button:hover {
    background-color: #cf402f;
}

button[disabled] {
    color: #ccc;
}

button[disabled]:hover {
    background-color: #d84a38;
}

div#container {
    margin: 0 auto 0 auto;
    max-width: 40em;
    padding: 1em 1.5em 1.3em 1.5em;
}

button#hangupButton {
    margin: 0;
}

video {
	background: #222;
    height: 225px;
    margin: 0 0 20px 0;
    vertical-align: top;
    width: calc(50% - 13px);
}

video#localVideo {
    margin: 0 10px 20px 0;
}